<style type="text/css">
    #fields-{{ id }}-field .heading label {
      display: none;
    }

    #fields-{{ id }}-field .heading .instructions {
      background-color: #f9fafa;
      border-radius: 2px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
      color: #53524f;
      font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: 13px;
      line-height: 16px;
      min-height: 30px;
      padding: 22px 24px 20px;
      position: relative;
    }

    #fields-{{ id }}-field .heading .instructions:before {
        background-color: #0d78f2;
        border-radius: 2px 0 0 2px;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 4px;
    }

    #fields-{{ id }}-field .heading .instructions h1,
    #fields-{{ id }}-field .heading .instructions h2,
    #fields-{{ id }}-field .heading .instructions h3,
    #fields-{{ id }}-field .heading .instructions h4,
    #fields-{{ id }}-field .heading .instructions h5,
    #fields-{{ id }}-field .heading .instructions h6 {
      color: #0d78f2;
      font-family: inherit;
      font-weight: 700;
      line-height: 1;
    }

    #fields-{{ id }}-field .heading .instructions h1,
    #fields-{{ id }}-field .heading .instructions h2 {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding-bottom: 6px;
    }

    #fields-{{ id }}-field .heading .instructions h1 { font-size: 19px; margin-bottom: 0; }
    #fields-{{ id }}-field .heading .instructions h2 { font-size: 17px; }
    #fields-{{ id }}-field .heading .instructions h3 { font-size: 15px; }
    #fields-{{ id }}-field .heading .instructions h4 { font-size: 13px; }
    #fields-{{ id }}-field .heading .instructions h5 { font-size: 11px; }
    #fields-{{ id }}-field .heading .instructions h6 { font-size:  9px; }

    #fields-{{ id }}-field .heading .instructions p { max-width: 70%; }

    #fields-{{ id }}-field .heading .instructions a { text-decoration: underline; }
</style>
